/*grid a nivel general del sitio web*/

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 8.5fr 1.5fr;
    grid-template-rows: 1fr 8.5fr .5fr;
    height: 100vh;
    grid-template-areas: "header header" "main pub" "footer footer";
    grid-gap: 1rem;
}

header {
    background-color: rgb(47, 85, 151);
    display: flex;
    justify-content: space-around;
    grid-area: header;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 40em;
    padding-bottom: .5em;
    grid-area: nav;
    /*background-color: green;*/
}


/*nav a {
    background-color: grey;
}*/

header a:link,
a:hover,
a:visited {
    color: ghostwhite;
    text-decoration-line: none;
}

footer {
    background-color: rgb(47, 85, 151);
    color: ghostwhite;
    grid-area: footer;
}

main {
    grid-area: main;
    height: auto;
}

aside {
    grid-area: aside;
}

.pub {
    background-color: grey;
    grid-area: pub;
    height: 460px;
}


/*grid index*/

#index {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: "intro" "carouselExampleCaptions";
    grid-gap: 1rem;
}

#introIndex {
    grid-area: intro;
    border-radius: .5rem;
    background-color: #DEEBF7;
}

#carouselExampleCaptions {
    grid-area: carouselExampleCaptions;
}


/*grid search*/

#search {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "aside section";
    gap: 1rem;
}

section {
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

aside h2 {
    margin-top: 0rem;
}

.cards {
    width: 30%;
    background-color: #DEEBF7;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    min-width: 223px;
}

.cards h3 {
    margin-top: 0rem;
}

.cards p span {
    font-weight: bold;
}

.fab {
    color: black;
}

.maps {
    width: 100%;
    border-radius: .5rem;
}


/*grid join*/

#join {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "intro" "form";
    grid-gap: 1rem;
}

#introJoin {
    grid-area: intro;
    background-color: lightgray;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
}

#introJoin h2 {
    margin-top: 0rem;
}

#formJoin {
    grid-area: form;
    background-color: #DEEBF7;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    font-size: x-large;
}


/*grid login*/

#login {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "intro" "form";
    grid-gap: 1rem;
    height: 80vh;
}

#introLogin {
    grid-area: intro;
    background-color: lightgray;
    width: 50vw;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
}

#introLogin h2 {
    margin-top: 0rem;
}

#formLogin {
    grid-area: form;
    background-color: #DEEBF7;
    width: 50vw;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    font-size: x-large;
}