	/*grid a nivel general del sitio web*/
	
	body {
	    font-family: Arial, Helvetica, sans-serif;
	    display: grid;
	    grid-template-columns: 8.5fr 1.5fr;
	    grid-template-rows: 1fr 8.5fr .5fr;
	    height: 100vh;
	    grid-template-areas: "header header" "main pub" "footer footer";
	    grid-gap: 1rem;
	}
	
	header {
	    background-color: rgb(47, 85, 151);
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	    grid-area: header;
	}
	
	nav {
	    display: flex;
	    justify-content: space-around;
	    width: 40%;
	    grid-area: nav;
	}
	
	header a:link,
	a:hover,
	a:visited {
	    color: ghostwhite;
	    text-decoration-line: none;
	    font-weight: bold;
	}
	
	footer {
	    background-color: rgb(47, 85, 151);
	    color: ghostwhite;
	    grid-area: footer;
	    display: flex;
	    flex-flow: column;
	    align-items: center;
	    padding: 1rem;
	}
	
	footer p {
	    margin-top: 0rem;
	}
	
	main {
	    grid-area: main;
	    height: auto;
	}
	
	aside {
	    grid-area: aside;
	}
	
	.pub {
	    background-color: grey;
	    grid-area: pub;
	    height: 460px;
	    width: 200px;
	}
	/*index*/
	
	#main-index {
	    display: flex;
	    flex-direction: column;
	    gap: 1rem;
	    margin-left: 1rem;
	}
	
	#main-index>* {
	    position: relative;
	    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	    border-radius: .5rem;
	}
	
	#intro-index {
	    padding: 1rem;
	    background-color: #DEEBF7;
	    font-size: large;
	}
	
	#carouselExampleCaptions {
	    background-color: black;
	}
	
	.carousel-item img {
	    opacity: 0.4;
	    border-radius: .5rem;
	    height: 80vh;
	}
	
	.carousel-caption {
	    font-size: large;
	    /*margin: 8%;*/
	    /*line-height: 100%;*/
	}
	/*search*/
	
	#main-search {
	    display: grid;
	    grid-template-columns: 1fr 4fr;
	    grid-template-areas: "aside section";
	    gap: 1rem;
	}
	
	#main-search input,
	#main-search select {
	    font-size: 1rem;
	}
	
	section {
	    grid-area: section;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    gap: 1rem;
	}
	
	aside h2 {
	    margin-top: 0rem;
	}
	
	.cards {
	    width: 30%;
	    min-width: 255px;
	    background-color: #DEEBF7;
	    padding: 1rem;
	    box-sizing: border-box;
	    border-radius: .5rem;
	    font-size: large;
	}
	
	.cards h3 {
	    margin-top: 0rem;
	}
	
	.cards p span {
	    font-weight: bold;
	}
	
	.fab {
	    color: black;
	}
	
	.maps {
	    width: 100%;
	    border-radius: .5rem;
	}
	
	.transition {
	    position: relative;
	    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	}
	
	.transition::before {
	    content: ' ';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    border-radius: .5rem;
	    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
	    opacity: 0;
	    transition: opacity 500ms;
	}
	
	.transition:hover::before {
	    opacity: 1;
	}
	/*join*/
	
	#main-join {
	    display: flex;
	    flex-direction: column;
	    gap: 1rem;
	}
	
	#intro-join {
	    background-color: lightgray;
	    padding: 1rem;
	    box-sizing: border-box;
	    border-radius: .5rem;
	    font-size: large;
	}
	
	#intro-join h2 {
	    margin-top: 0rem;
	}
	
	#form-join {
	    background-color: #DEEBF7;
	    padding: 1rem;
	    box-sizing: border-box;
	    border-radius: .5rem;
	    font-size: x-large;
	    position: relative;
	    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	}
	
	.field-form {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    gap: 1rem 0;
	}
	
	.field-form div {
	    width: 48%;
	}
	
	.field-form select,
	#form-join input,
	textarea {
	    font-size: large;
	    width: 100%;
	    height: 3rem;
	    border-radius: 0.5rem;
	    box-sizing: border-box;
	}
	
	textarea {
	    margin-top: .5rem;
	    height: 9rem;
	}
	/*login*/
	
	#main-login {
	    display: flex;
	    flex-direction: column;
	    gap: 1rem;
	}
	
	#intro-login {
	    background-color: lightgray;
	    width: 50vw;
	    padding: 1rem;
	    box-sizing: border-box;
	    border-radius: .5rem;
	    font-size: large;
	}
	
	#intro-login h2 {
	    margin-top: 0;
	}
	
	#form-login {
	    background-color: #DEEBF7;
	    width: 50vw;
	    padding: 2rem;
	    box-sizing: border-box;
	    border-radius: .5rem;
	    position: relative;
	    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	}
	
	#form-login form {
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    gap: 1rem;
	    justify-content: space-between;
	}
	
	#form-login input {
	    font-size: large;
	    width: 100%;
	    height: 2.5rem;
	    border-radius: 0.5rem;
	    box-sizing: border-box;
	}
	
	@media screen and (max-width: 920px) {
	    body {
	        display: flex;
	        flex-direction: column;
	        gap: 1rem;
	    }
	    #main-index {
	        margin: 1rem;
	    }
	    .pub {
	        min-height: 100px;
	        max-height: 100px;
	        width: 95vw;
	        margin: auto;
	    }
	    .carousel-item img {
	        height: 100%;
	    }
	    /*clase heredada de bootstrap*/
	    .d-none {
	        display: block !important;
	    }
	}
	
	@media screen and (max-width: 796px) {
	    header {
	        flex-wrap: wrap;
	    }
	    nav {
	        width: 100%;
	    }
	    #main-login>* {
	        width: 100%;
	    }
	    #main-search {
	        grid-template-columns: 1fr 3fr;
	    }
	}
	
	@media screen and (max-width: 665px) {
	    .carousel-item img {
	        height: 80vh;
	    }
	}
	
	@media screen and (max-width: 450px) {
	    .carousel-item img {
	        height: 60vh;
	    }
	    .field-form div {
	        width: 100%;
	    }
	    #main-search {
	        display: flex;
	        flex-direction: column;
	        gap: 1rem;
	    }
	    #main-search form {
	        display: flex;
	        flex-wrap: wrap;
	        row-gap: 1rem;
	        justify-content: space-around;
	    }
	    .item-1 {
	        order: -3;
	    }
	    .item-2 {
	        order: -2;
	    }
	    .item-3 {
	        order: -1;
	    }
	    section {
	        justify-content: center;
	    }
	    .cards {
	        width: 90%;
	    }
	}