body {
    font-family: Arial, Helvetica, sans-serif;
}


/*.cards {
    width: 20vw;
    height: 90vh;
    background-color: #CECECE;
    padding: 1em;
    margin: 2em;
    align-content: center;
}*/